# Virtual environment directories
/.venv
/air_env

# Log files
logs

# Jupyter notebook checkpoints
#.ipynb_checkpoints

# Python cache files
dags/__pycache__/

# Ignore Dockerfile
dockerfile.txt

# Ignore all CSV files
*.csv

# Ignore specific CSV files (this is redundant due to the rule above, but if needed, specify it)
climate change/climate-change-earth-surface-temperature-data/
